@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: #fff;
    background-color: #000; 
}

a, a:hover, a:visited {
    text-decoration: none;
    color: unset;
}

#vendas{
    padding: 40px 10px;
}
.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}


@media (min-width: 576px) {
    .viewIn576px{
        display: table-cell;
    }
    .card {
        padding: 35px;
    }
    .tabela tbody {
        font-size: 1.13rem;
    }
    .tabela tbody tr {
        height: 62px;
    }
}

@media (min-width: 992px) {
    .viewIn992px{
        display: table-cell;
    }
    .card {
        padding: 35px;
    }
}




